---
layout: articles
titles:
  # @start locale config
  en      : &EN       Home
  en-GB   : *EN
  en-US   : *EN
  en-CA   : *EN
  en-AU   : *EN
  zh-Hans : &ZH_HANS  主页
  zh      : *ZH_HANS
  zh-CN   : *ZH_HANS
  zh-SG   : *ZH_HANS
  zh-Hant : &ZH_HANT  主頁
  zh-TW   : *ZH_HANT
  zh-HK   : *ZH_HANT
  ko      : &KO       홈
  ko-KR   : *KO
  fr      : &FR       Accueil
  fr-BE   : *FR
  fr-CA   : *FR
  fr-CH   : *FR
  fr-FR   : *FR
  fr-LU   : *FR
  tr      : &TR       Ana Sayfa
  # @end locale config
show_title: false
articles:
  data_source: paginator.posts
  article_type: BlogPosting
  show_cover: false
  show_excerpt: true
  show_readmore: true
  show_info: true
---
<div class="layout--home">
  <div style="text-align: center;">
    <div style="padding: 20px 0; text-align: center; color: white;">
      <h2 style="font-size: 2.5em; font-weight: bold;">Hello, universe!</h2>
      <p style="font-size: 1em; margin-bottom: 30px;">Keep studying.</p>
    <a href="/about" style="display: inline-block; padding: 10px 20px; margin: 10px; background-color: #6c4434ba; color: white; text-decoration: none; border-radius: 5px;">About Me</a>
    <a href="/diary/" style="display: inline-block; padding: 10px 20px; margin: 10px; background-color: #6c4434ba; color: white; text-decoration: none; border-radius: 5px;">Boring Diary</a>
    <a href="/notes/" style="display: inline-block; padding: 10px 20px; margin: 10px; background-color: #6c4434ba; color: white; text-decoration: none; border-radius: 5px;">Study Notes</a>
  </div>
</div>

A personal website. 

给我的BiliBili频道打个广告：[https://space.bilibili.com/241833161?spm_id_from=333.1007.0.0]（https://space.bilibili.com/241833161?spm_id_from=333.1007.0.0）。

  

<script>
  {%- include scripts/home.js -%}
</script>

{{ content }}
